.navbar {
  background: linear-gradient(90deg, #4e73df, #224abe);
  }
.navbar .nav-link, .navbar-brand {
  color: white !important;
  font-weight: 500;
  }
.navbar .nav-link:hover {
  color: #dfe6f9 !important;
  }

.hero {
        background: linear-gradient(to right, #eef2f7, #f8faff);
        padding: 80px 20px;
        text-align: center;
      }
.hero h1 {
        font-size: 2.5rem;
        font-weight: 700;
        color: #2c3e50;
      }
.hero p {
        font-size: 1.6rem;
        font-weight: 620;
        color: #2c3e50;
        margin-bottom: 30px;
      }
      
.feature-card {
        border: none;
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.05);
        transition: transform 0.3s;
      }
.feature-card:hover {
        transform: translateY(-5px);
      }
 
      
/* Alert box */
/* .alert {
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
} */

.alert-container {
  position: fixed;
  top: 70px; /* just below navbar height */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1055; /* above navbar */
  width: 80%;
  max-width: 800px;
}


      