{% extends 'testapp/index.html'%}
{% load static %}

{% block bodyblock %}
    <center>
        <div class="container mt-3" style="min-height: 80vh;">
        <h3>Do you really want to delete {{employee.first_name|upper}}</h3><br>
    <form method="post">
        {{form.as_p}}
        {% csrf_token %}
        <a href="/all_emp"><input type="submit" name="" value="Delete" class="btn btn-danger"></a>
    </form>
    <br>    
    <a href="/all_emp" class="btn btn-success">No I don't want to delete</a>
    </div>
    </center>
{% endblock %}